<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RippleCo Modpack Launcher | Patch Notes</title>
  <link rel="stylesheet" href="../styles/patchnotes.css">
</head>
<body class="bg-gray-900 text-white p-6">
    <h1 id="patch-header" style="padding-bottom: 10px;">Patch Notes</h1>
    <hr width="100%" style="padding-bottom: 10px; background-color: #3d3d3d;">
  <div id="patchnotes-grid" class="grid-container">
    <!-- Patch notes will be dynamically loaded here -->
  </div>
  <script src="../renderer/patchnotes.js" defer></script>
</body>
</html>
