<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RippleCo Modpack Launcher | Login</title>
  <link rel="stylesheet" href="../styles/welcome.css">
  <link rel="stylesheet" href="../styles/titlebar.css">
</head>
<body>
  <div class="titlebar">
    <div class="window-controls">
      <button class="window-button" id="minimize">_</button>
      <button class="window-button" id="maximize">☐</button>
      <button class="window-button" id="close">X</button>
    </div>
  </div>
  <div class="welcome-container">
    
    <!-- Logo Section -->
    <div class="logo">
      <img src="../assets/RippleCoLogo.webp" alt="Launcher Logo">
    </div>

    <div class="title">
      <h1>RippleCo Games</h1>
      <h2>Minecraft Launcher V2</h2>
    </div>

    <hr class="divider">

    <!-- Description Section -->
    <div class="description">
      <p>Welcome back, I've got some jobs for you...</p>
      <p class="desc2">RCGLauncher is now in version 2, this version has completely overhauled the launcher. Java management is now completely automatic and my ability to create and update modpacks is a lot easier. </p>
    </div>


    <!-- Divider Line -->
    <hr class="divider">

    <!-- Microsoft Sign-in Button -->
    <div class="signin-container">
      <button id="login-button" class="signin-button">
        <img src="../assets/MicrosoftLogoWhite.png" alt="Microsoft Logo" class="ms-logo">
        <span class="signin-text">Sign in with Microsoft</span>
      </button>
    </div>
  </div>

  <!-- Script for button functionality -->
  <script src="../renderer/welcome.js"></script>
  <script src="../components/windowControls.js"></script>
</body>
</html>
