/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #d3d3d3;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#ozymandias-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Text Entry Styles */
#entry-text {
  display: block;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.5;
  width: 90%;
  padding: 0px 60px 40px 60px;
}

#button-container {
  display: flex;
  justify-content: center;
  gap: 80%;
  padding-top: 20px;
}

.button-image {
  width: 200px;
  height: auto;
  object-fit: contain;
}

#save-box {
  background: none;
  border: none;
}

#delete-box {
  background: none;
  border: none;
}

#player-heart {
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Shaking Animation for Characters */
.shaking-character {
  display: inline-block;
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  animation-timing-function: ease-in-out;
}

/* Heart Sprite Styles */
#heart-sprite {
  width: 32px;
  height: 32px;
  background: url('../assets/heart-sprite.png') no-repeat center;
  background-size: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
